.common-title-box {
    // text-align: center;
    display: inline-block;
    margin-bottom: 30px;

    p {
        text-transform: uppercase;
        color: #bd203a;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 600;
        margin-bottom: 10px;
        position: relative;
        padding-left: 50px;

        &::before {
            position: absolute;
            left: 0;
            width: 30px;
            height: 3px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            background: #bd203a;
            content: "";
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }

    h2 {
        color: #f89939 !important;
        font-size: 30px;
        line-height: 1.1;
        margin-bottom: 0px;
        display: block;
        font-weight: 700;
        text-transform: capitalize;
    }

    .title-divider {
        width: 88px;
        height: 4px;
        display: inline-flex;
        position: relative;
        top: 2px;

        &::before {
            content: "";
            display: block;
            position: absolute;

            border-radius: 4px;
            top: 0;
            height: 4px;
            width: 70px;
            left: 0;
            background-color: #bd203a;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 8px;
            left: 73px;
            border-radius: 4px;
            top: 0;
            height: 4px;
            background-color: #bd203a;
        }

        span {
            position: relative;
            content: "";
            display: block;
            position: absolute;
            right: 0;
            border-radius: 4px;
            top: 0;
            height: 4px;

            &::before {
                content: "";
                display: block;
                position: absolute;
                border-radius: 4px;
                top: 0;
                height: 4px;
                width: 4px;
                right: 0;
                background-color: #bd203a;
            }
        }
    }
}

.spinner {
    animation: spiner 30s infinite linear;
    -webkit-animation: spiner 30s infinite linear;
    animation-duration: spiner 30s;
}

@keyframes spiner {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spiner {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.pl-110 {
    padding-left: 110px;
}

.common-fieldset {
    padding: 15px 19px 19px !important;
    border: 1px solid #e9ebec !important;
    border-radius: 4px;
    legend {
        text-align: center !important;
        margin: 0 auto;
        width: auto;
        float: none;
        padding: 4px 20px;
        background: #e9ebec;
        border-radius: 4px;
        text-transform: uppercase;
        color: #102a43;
        font-size: 15px;
        font-weight: 600;
    }
}

.common-pagination {
    ul.pagination {
        li.page-item {
            a.page-link {
                color: $dark-blue;
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
                &:hover {
                    background: #0f2239;
                    color: #fff;
                }
            }
            a.page-link.active {
                background: #0f2239;
                color: #fff;
            }
        }
        li.page-item:nth-child(1) {
            border-top-left-radius: 20px;
            a.page-link {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
        }
        li.page-item:last-child {
            border-top-left-radius: 20px;
            a.page-link {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }
    }
}
.fixed-top {
    transition: transform 0.3s;
    // -webkit-transform: translateY(45px);
    // -moz-transform: translateY(45px);
    // -ms-transform: translateY(45px);
    // -o-transform: translateY(45px);
}

.l-news {
    position: relative;
    z-index: 45;
}

.common-see-all {
    text-align: center;
    margin-top: 20px;
}

.testi-box_review {
    display: none;
}
.as-social.style2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
.footer-layout2 {
    .as-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }
}

.header-button {
    justify-content: center;
}
.hero-counter_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-modal-main {
    .modal-content {
        position: relative;
        border-radius: 0;
        background-color: #f6f9fe;
        .btn-close {
            background-color: #fff;
            right: -45px;
            position: absolute;
            top: 0;
            opacity: 1;
            border-radius: 0;
            padding: 0;
            height: 35px;
            width: 35px;
            &:hover {
                background: #bd203a;
                color: #fff;
            }
        }
        .modal-body {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            .left-box {
                flex-basis: 46.336%;
                .image-box {
                    padding: 70px 0px 70px 80px;
                    .image-shape {
                        background-color: #ecf4ff;

                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 60% auto;
                        border-radius: 50% 50% 50% 50%;

                        height: 400px;
                        width: 400px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 400px;
                            max-width: 470px;
                            border-radius: 50% 50% 50% 50%;
                            height: 400px;
                        }
                    }
                }
            }
            .right-box {
                flex-basis: 53.664%;
                .description-box {
                    padding: 70px 70px 60px 30px;
                    .title-box {
                        margin-bottom: 15px;
                        h3 {
                            font-size: 25px;

                            margin: 0px 0px 15px 0px;
                        }
                        p {
                            color: #1a73e9;
                            margin-bottom: 0px;
                            text-transform: capitalize;
                            font-weight: 600;
                            font-size: 20px;
                        }
                    }
                    .short-description {
                        margin-bottom: 15px;
                        p {
                            text-align: justify;
                            font-size: 16px;
                            margin-bottom: 0;
                        }
                    }
                    .special-ability {
                    }
                }
            }
        }
    }
}
.visitor-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .vistor-info {
        background-color: #1e2c46;
        flex-basis: 47%;
        padding: 5px 10px;
        margin-top: 10px;
        text-align: center;
        border-radius: 20px;
        // min-width: 200px;
        span {
            color: $new-yellow;
            text-transform: capitalize;
            font-size: 14px;
        }
    }
}

.practice-area-main {
    .as-btn {
        display: none;
    }
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.active-custom {
    border: 1px solid #f89939 !important;
    border-radius: 4px !important;
    box-shadow: 1px 3px 9px 0px;
}

@keyframes spiner {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
