@import "./partials/variables";
@import "./partials/colors";
@import "./partials/common";
@import "./partials/mixins";

body {
    font-family: $roboto-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $poppins-font;
}

.home-slider-main {
    position: relative;

    .swiper {
        width: 100%;
        height: 100vh;
        max-height: 889px;

        @media (max-width: 991px) {
            height: 70vh;
        }
        @media (max-width: 767px) {
            height: 60vh;
        }
    }

    .swiper-slide {
        position: relative;
        height: 100vh;
        max-height: 889px;

        @media (max-width: 991px) {
            height: 70vh;
        }
        @media (max-width: 767px) {
            height: 60vh;
        }

        .slide-bg {
            width: 100%;
            height: 100%;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .slider-content-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .contant-wrapper {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                height: 100vh;
                max-height: 889px;

                @media (max-width: 991px) {
                    height: 70vh;
                    width: 90%;
                    padding: 0 40px;
                }
                @media (max-width: 767px) {
                    height: 60vh;
                    padding: 0 40px;
                }

                .content-inner-box {
                    max-width: 100%;
                    margin: 0 auto;
                    text-align: center;

                    @media (min-width: 992px) and (max-width: 1200px) {
                        margin-top: 70px;
                    }
                    @media (max-width: 991px) {
                        width: 90%;
                        margin-top: 90px;
                    }

                    h2 {
                        color: #fff;
                        font-family: $poppins-font;
                        font-size: 50px;
                        font-weight: 700;
                        line-height: 55px;
                        text-transform: uppercase;
                        margin-bottom: 20px;

                        @media (max-width: 1399px) {
                            font-size: 42px;
                            line-height: 45px;
                        }
                        @media (max-width: 1199px) {
                            font-size: 35px;
                            line-height: 37px;
                        }
                        @media (max-width: 991px) {
                            font-size: 25px;
                            line-height: 27px;
                        }
                        @media (max-width: 767px) {
                            font-size: 20px;
                            line-height: 22px;
                        }

                        span {
                            color: var(--theme-color);
                        }
                    }

                    p {
                        color: #fff;
                        font-family: $roboto-font;
                        font-weight: 400;
                        font-size: 22px;

                        strong {
                            font-weight: 700;
                        }

                        @media (min-width: 1200px) and (max-width: 1365px) {
                            font-size: 16px;
                            line-height: 20px;
                        }
                        @media (max-width: 1199px) {
                            font-size: 12px;
                            line-height: 14px;
                        }
                        @media (max-width: 767px) {
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                0deg,
                rgba(0, 34, 46, 0.5),
                rgba(0, 34, 46, 0.5)
            );
        }
    }

    .left-shape {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 2;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .right-shape {
        position: absolute;
        right: 0;
        bottom: -12px;
        z-index: 2;
        height: 344px;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        margin: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #fff;
        transition: 0.4s;

        &::after {
            font-size: 25px;
            color: var(--theme-color);
            transition: 0.4s;
        }

        &:hover {
            background: var(--theme-color);

            &::after {
                color: #fff;
            }
        }
    }

    .swiper-button-next {
        right: -100px;
    }

    .swiper-button-prev {
        left: -100px;
    }

    &:hover {
        .swiper-button-next {
            right: 50px;
        }
        .swiper-button-prev {
            left: 50px;
        }
    }
}

/* Header Modification */
.new-navbar-main {
    width: 100%;
    top: 60px;
    position: fixed;
    z-index: 99999;
    padding: 10px 0;
    transition: 0.4s;

    .header-logo img {
        width: 90px !important;
        min-width: 90px !important;
    }

    .main-menu {
        a {
            color: #fff;
            font-weight: 400;
        }

        ul {
            gap: 25px;

            &.sub-menu li a {
                color: #000;
            }
        }
    }

    &.fixed-top {
        .main-menu a {
            color: #000;
        }

        a.as-btn {
            background: var(--theme-color);
        }
    }
}

.news-title-dynamic {
    background-color: var(--theme-color);
}

.news {
    border-color: var(--theme-color);
}

.news-link,
ul.flex-items-center {
    color: #000;
}

// login page start from here

.login-main {
    height: 100vh;
    background: #f2f6f9;
    position: relative;
    .login-flex-wrapper {
        height: 60vh;
        width: 60%;
        position: absolute;
        @include trans-center;
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
        background: $white;
        .single-box {
            flex: 1;
            &:nth-child(1) {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                position: relative;
                &::before {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    inset: 0;
                    content: "";
                    background: #000;
                    opacity: 0.5;
                }
                h1 {
                    font-weight: 700;
                    font-family: $poppins-font;
                    font-size: 30px;
                    line-height: 1;
                    text-transform: uppercase;
                    text-align: center;
                    color: $white;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    span {
                        color: $green;
                    }
                }
                .copyright-text {
                    position: absolute;
                    color: $white;
                    bottom: 20px;
                    left: 0;
                    width: 100%;
                    font-family: $roboto-font;
                    font-size: 14px;
                    line-height: 1;
                    text-align: center;
                    padding: 10px 15px;
                }
            }
            &:nth-child(2) {
                padding: 50px 50px;
                h2 {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: $poppins-font;
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
            .logo-box {
                text-align: center;
                margin-bottom: 20px;
            }
            .form-group {
                margin-bottom: 20px;
            }
            .form-addons {
                position: relative;
                img {
                    position: absolute;
                }
            }
            .form-control {
                @include no-radius;
                font-size: 15px;
                font-family: $roboto-font;
                line-height: 1;
                height: 40px;
                &:focus {
                    border-color: #000;
                }
            }
            label {
                font-weight: 600;
                font-size: 15px;
                font-family: $poppins-font;
                color: #000;
            }
            .user-login-btn {
                background: $green;
                color: $white;
                text-transform: uppercase;
                font-family: $poppins-font;
                font-size: 16px;
                border: none;
                @include no-radius;
                margin: 0px auto;
                width: 50%;
                display: block;
                font-weight: 700;
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }
            .forget-passowrd {
                text-align: center;
                font-family: $poppins-font;
                font-size: 14px;
                color: #000;
                text-transform: capitalize;
                font-weight: 400;
                a {
                    color: $yellow;
                }
            }

            .otp-inputs {
                display: flex;
                gap: 12px;
                justify-content: center;
                margin-top: 10px;
                width: 50%;
                justify-content: space-between;
                margin: 0px auto;
                .otp-digit {
                    width: 40px;
                    height: 40px;
                    text-align: center;

                    font-weight: 600;

                    outline: none;
                    transition: all 0.3s ease;
                    background-color: #f9f9f9;

                    &:focus {
                        border-color: $green;
                        box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
                        background-color: #fff;
                    }

                    &.is-invalid {
                        border-color: #ff4d4f;
                        background-color: #fff0f0;
                    }

                    @media (max-width: 767px) {
                        width: 50px;
                        height: 50px;
                        font-size: 20px;
                    }
                }

                .invalid-feedback {
                    width: 100%;
                    text-align: center;
                    color: #ff4d4f;
                    font-size: 14px;
                    margin-top: 5px;
                }
            }

            /* Resend OTP button styling */
            #resend-otp-btn {
                display: inline-block;
                background-color: $yellow;
                color: #fff;
                border: none;
                padding: 8px 16px;
                @include no-radius;
                cursor: pointer;
                font-size: 14px;
                transition: background 0.3s ease;
                margin: 0px auto;
                display: block;
                width: 50%;
                font-family: $poppins-font;
                font-size: 16px;
                font-weight: 700;
                &:disabled {
                    opacity: 0.6;
                    cursor: not-allowed;
                }

                &:hover:not(:disabled) {
                    background-color: darken($yellow, 10%);
                }
            }
        }
    }
}

// login page ends here
