.common-fieldset-main {
  margin-bottom: 20px;
}
.common-fieldset-main .common-fieldset {
  padding: 15px 19px 19px;
  border: 1px solid #e9ebec;
  border-radius: 4px;
}
.common-fieldset-main .common-fieldset legend {
  text-align: center;
  margin: 0 auto;
  width: auto;
  float: none;
  padding: 4px 20px;
  background: #e9ebec;
  border-radius: 4px;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

.header-layout3 .header-top li:before {
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

fieldset.common-fieldset.pb-0 {
  padding-bottom: 0 !important;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.home-slider-main {
  position: relative;
}
.home-slider-main .swiper {
  width: 100%;
  height: 100vh;
  max-height: 889px;
}
@media (max-width: 991px) {
  .home-slider-main .swiper {
    height: 70vh;
  }
}
@media (max-width: 767px) {
  .home-slider-main .swiper {
    height: 60vh;
  }
}
.home-slider-main .swiper-slide {
  position: relative;
  height: 100vh;
  max-height: 889px;
}
@media (max-width: 991px) {
  .home-slider-main .swiper-slide {
    height: 70vh;
  }
}
@media (max-width: 767px) {
  .home-slider-main .swiper-slide {
    height: 60vh;
  }
}
.home-slider-main .swiper-slide .slide-bg {
  width: 100%;
  height: 100%;
}
.home-slider-main .swiper-slide video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-slider-main .swiper-slide .slider-content-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-slider-main .swiper-slide .slider-content-box .contant-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  max-height: 889px;
}
@media (max-width: 991px) {
  .home-slider-main .swiper-slide .slider-content-box .contant-wrapper {
    height: 70vh;
    width: 90%;
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .home-slider-main .swiper-slide .slider-content-box .contant-wrapper {
    height: 60vh;
    padding: 0 40px;
  }
}
.home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box {
    margin-top: 70px;
  }
}
@media (max-width: 991px) {
  .home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box {
    width: 90%;
    margin-top: 90px;
  }
}
.home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 1399px) {
  .home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box h2 {
    font-size: 42px;
    line-height: 45px;
  }
}
@media (max-width: 1199px) {
  .home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box h2 {
    font-size: 35px;
    line-height: 37px;
  }
}
@media (max-width: 991px) {
  .home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box h2 {
    font-size: 25px;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box h2 {
    font-size: 20px;
    line-height: 22px;
  }
}
.home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box h2 span {
  color: var(--theme-color);
}
.home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
}
.home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box p strong {
  font-weight: 700;
}
@media (min-width: 1200px) and (max-width: 1365px) {
  .home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 1199px) {
  .home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box p {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 767px) {
  .home-slider-main .swiper-slide .slider-content-box .contant-wrapper .content-inner-box p {
    font-size: 12px;
    line-height: 14px;
  }
}
.home-slider-main .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 34, 46, 0.5), rgba(0, 34, 46, 0.5));
}
.home-slider-main .left-shape {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}
.home-slider-main .left-shape svg {
  width: 100%;
  height: 100%;
}
.home-slider-main .right-shape {
  position: absolute;
  right: 0;
  bottom: -12px;
  z-index: 2;
  height: 344px;
}
.home-slider-main .right-shape svg {
  width: 100%;
  height: 100%;
}
.home-slider-main .swiper-button-next,
.home-slider-main .swiper-button-prev {
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  transition: 0.4s;
}
.home-slider-main .swiper-button-next::after,
.home-slider-main .swiper-button-prev::after {
  font-size: 25px;
  color: var(--theme-color);
  transition: 0.4s;
}
.home-slider-main .swiper-button-next:hover,
.home-slider-main .swiper-button-prev:hover {
  background: var(--theme-color);
}
.home-slider-main .swiper-button-next:hover::after,
.home-slider-main .swiper-button-prev:hover::after {
  color: #fff;
}
.home-slider-main .swiper-button-next {
  right: -100px;
}
.home-slider-main .swiper-button-prev {
  left: -100px;
}
.home-slider-main:hover .swiper-button-next {
  right: 50px;
}
.home-slider-main:hover .swiper-button-prev {
  left: 50px;
}

/* Header Modification */
.new-navbar-main {
  width: 100%;
  top: 60px;
  position: fixed;
  z-index: 99999;
  padding: 10px 0;
  transition: 0.4s;
}
.new-navbar-main .header-logo img {
  width: 90px !important;
  min-width: 90px !important;
}
.new-navbar-main .main-menu a {
  color: #fff;
  font-weight: 400;
}
.new-navbar-main .main-menu ul {
  gap: 25px;
}
.new-navbar-main .main-menu ul.sub-menu li a {
  color: #000;
}
.new-navbar-main.fixed-top .main-menu a {
  color: #000;
}
.new-navbar-main.fixed-top a.as-btn {
  background: var(--theme-color);
}

.news-title-dynamic {
  background-color: var(--theme-color);
}

.news {
  border-color: var(--theme-color);
}

.news-link,
ul.flex-items-center {
  color: #000;
}

.login-main {
  height: 100vh;
  background: #f2f6f9;
  position: relative;
}
.login-main .login-flex-wrapper {
  min-height: 60vh;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  background: #fff;
}
.login-main .login-flex-wrapper .single-box {
  flex: 1;
}
.login-main .login-flex-wrapper .single-box:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}
.login-main .login-flex-wrapper .single-box:nth-child(1)::before {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  content: "";
  background: #000;
  opacity: 0.5;
}
.login-main .login-flex-wrapper .single-box:nth-child(1) h1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.login-main .login-flex-wrapper .single-box:nth-child(1) h1 span {
  color: #06d666;
}
.login-main .login-flex-wrapper .single-box:nth-child(1) .copyright-text {
  position: absolute;
  color: #fff;
  bottom: 20px;
  left: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 10px 15px;
}
.login-main .login-flex-wrapper .single-box:nth-child(2) {
  padding: 50px 50px;
}
.login-main .login-flex-wrapper .single-box:nth-child(2) h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.login-main .login-flex-wrapper .single-box .logo-box {
  text-align: center;
  margin-bottom: 20px;
}
.login-main .login-flex-wrapper .single-box .form-group {
  margin-bottom: 20px;
}
.login-main .login-flex-wrapper .single-box .form-addons {
  position: relative;
}
.login-main .login-flex-wrapper .single-box .form-addons img {
  position: absolute;
}
.login-main .login-flex-wrapper .single-box .form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  height: 40px;
}
.login-main .login-flex-wrapper .single-box .form-control:focus {
  border-color: #000;
}
.login-main .login-flex-wrapper .single-box label {
  font-weight: 600;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #000;
  text-transform: capitalize;
}
.login-main .login-flex-wrapper .single-box .user-login-btn {
  background: #06d666;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin: 0px auto;
  width: 50%;
  display: block;
  font-weight: 700;
}
.login-main .login-flex-wrapper .single-box .user-login-btn:focus {
  box-shadow: none;
  outline: none;
}
.login-main .login-flex-wrapper .single-box .forget-passowrd {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #000;
  text-transform: capitalize;
  font-weight: 400;
}
.login-main .login-flex-wrapper .single-box .forget-passowrd a {
  color: #f89939;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.login-main .login-flex-wrapper .single-box .forget-passowrd a:hover {
  color: #06d666;
}
.login-main .login-flex-wrapper .single-box .dont-account {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #000;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 10px;
}
.login-main .login-flex-wrapper .single-box .dont-account a {
  color: #06d666;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.login-main .login-flex-wrapper .single-box .dont-account a:hover {
  color: #f89939;
}
.login-main .login-flex-wrapper .single-box .otp-inputs {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 10px;
  width: 50%;
  justify-content: space-between;
  margin: 0px auto;
}
.login-main .login-flex-wrapper .single-box .otp-inputs .otp-digit {
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: 600;
  outline: none;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
}
.login-main .login-flex-wrapper .single-box .otp-inputs .otp-digit:focus {
  border-color: #06d666;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
  background-color: #fff;
}
.login-main .login-flex-wrapper .single-box .otp-inputs .otp-digit.is-invalid {
  border-color: #ff4d4f;
  background-color: #fff0f0;
}
@media (max-width: 767px) {
  .login-main .login-flex-wrapper .single-box .otp-inputs .otp-digit {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}
.login-main .login-flex-wrapper .single-box .otp-inputs .invalid-feedback {
  width: 100%;
  text-align: center;
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 5px;
}
.login-main .login-flex-wrapper .single-box .btn-resend {
  display: inline-block;
  background-color: #f89939;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
  margin: 0px auto;
  display: block;
  width: 50%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.login-main .login-flex-wrapper .single-box .btn-resend:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.login-main .login-flex-wrapper .single-box .btn-resend:hover:not(:disabled) {
  background-color: rgb(245.3268292683, 127.6195121951, 8.6731707317);
}
.login-main .login-flex-wrapper .single-box .form-control.is-invalid,
.login-main .login-flex-wrapper .single-box .was-validated .form-control:invalid {
  border-color: #dc3545 !important;
}

.common-banner-main {
  padding: 150px 0;
  text-align: center;
  padding-bottom: 70px;
  position: relative;
}
.common-banner-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 34, 46, 0.7);
}
.common-banner-main .common-banner-text {
  position: relative;
}
.common-banner-main .common-banner-text h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.common-banner-main .common-banner-text .breadcrumb {
  justify-content: center;
  margin-bottom: 0;
}
.common-banner-main .common-banner-text .breadcrumb li.breadcrumb-item a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.common-banner-main .common-banner-text .breadcrumb li.breadcrumb-item a:hover {
  color: #f89939;
}
.common-banner-main .common-banner-text .breadcrumb li.breadcrumb-item a::after {
  content: "/";
  margin-left: 8px;
}
.common-banner-main .common-banner-text .breadcrumb li.breadcrumb-item.active {
  color: #f89939;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.member-dashboard-main {
  padding: 70px 0;
}
.member-dashboard-main .dashboard-sidebar-main {
  height: 100%;
  border: 1px solid #fafafa;
  border-radius: 4px;
  padding: 20px 20px;
}
.member-dashboard-main .dashboard-sidebar-main .member-profile-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0px auto;
  border: 3px solid #06d666;
  border-radius: 50%;
  margin-bottom: 20px;
}
.member-dashboard-main .dashboard-sidebar-main .member-profile-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
.member-dashboard-main .dashboard-sidebar-main .name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-bottom: 5px;
}
.member-dashboard-main .dashboard-sidebar-main .mobile {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 20px;
}
.member-dashboard-main .dashboard-sidebar-main .dashboard-sidebar-menu ul li a {
  padding: 5px 0 5px 15px;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  border-bottom: 1px solid #e9ebec;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  color: #000;
  display: block;
}
.member-dashboard-main .dashboard-sidebar-main .dashboard-sidebar-menu ul li a i {
  margin-right: 5px;
}
.member-dashboard-main .dashboard-sidebar-main .dashboard-sidebar-menu ul li a:hover, .member-dashboard-main .dashboard-sidebar-main .dashboard-sidebar-menu ul li a.active {
  color: #f89939;
  border-color: #f89939;
}
.member-dashboard-main .dashboard-details-box {
  height: 100%;
}
.member-dashboard-main .dashboard-details-box .custom-buy-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.member-dashboard-main .dashboard-details-box .custom-buy-flex .single-box {
  flex: 1;
  min-width: 200px;
  background: #f9f9f9;
  border: 1px solid #e9ebec;
  border-radius: 4px;
  padding: 20px 15px;
  text-align: center;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.member-dashboard-main .dashboard-details-box .custom-buy-flex .single-box .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0px auto;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
}
.member-dashboard-main .dashboard-details-box .custom-buy-flex .single-box .title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
}
.member-dashboard-main .dashboard-details-box .custom-buy-flex .single-box:nth-child(1) .icon {
  background: rgba(248, 153, 57, 0.4117647059);
}
.member-dashboard-main .dashboard-details-box .custom-buy-flex .single-box:nth-child(1):hover {
  border-color: #f89939;
}
.member-dashboard-main .dashboard-details-box .custom-buy-flex .single-box:nth-child(2) .icon {
  background: rgba(6, 214, 102, 0.6117647059);
}
.member-dashboard-main .dashboard-details-box .custom-buy-flex .single-box:nth-child(2):hover {
  border-color: #06d666;
}
.member-dashboard-main .dashboard-details-box .custom-buy-flex .single-box a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .nav-tabs {
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .nav-tabs .nav-item {
  flex: 1;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .nav-tabs .nav-item .nav-link {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  width: 100%;
  border: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .nav-tabs .nav-item .nav-link.active {
  background: #06d666;
  color: #fff;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-check {
  margin-bottom: 20px;
  padding-left: 0;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-check .form-check-label {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-check .form-check-label::before {
  border-color: rgba(145, 158, 171, 0.32);
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-check input[type=checkbox]:checked ~ label:before {
  border-color: #06d666;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-group {
  margin-bottom: 20px;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-group .form-label {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-group .form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  height: unset;
  border: 1px solid rgba(145, 158, 171, 0.32);
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-group .form-control:focus {
  border-color: #000;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-group .form-select {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  border: 1px solid rgba(145, 158, 171, 0.32);
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-group select,
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-group .form-control,
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-group .form-select,
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-group textarea,
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-group input {
  height: 45px;
  padding: 10px 15px;
  padding-right: unset;
  background-color: #fff;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-group .form-control:disabled,
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .form-group .form-control[readonly] {
  background-color: #e9ecef;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .update-profile-btn {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .update-profile-btn .as-btn {
  color: #000;
  width: 200px;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .update-profile-btn .as-btn:hover {
  color: #fff;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .update-profile-btn .prevBtn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  width: 200px;
  border: 1px solid #f89939;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 12px 15px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane .update-profile-btn .prevBtn:hover {
  background: #f89939;
  color: #fff;
}
.member-dashboard-main .dashboard-details-box .update-address-info-tab .tab-pane h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=ishwardi-style.css.map */