@import "./partials/variables";
@import "./partials/colors";
@import "./partials/common";
@import "./partials/mixins";

body {
    font-family: $roboto-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $poppins-font;
}

.home-slider-main {
    position: relative;

    .swiper {
        width: 100%;
        height: 100vh;
        max-height: 889px;

        @media (max-width: 991px) {
            height: 70vh;
        }
        @media (max-width: 767px) {
            height: 60vh;
        }
    }

    .swiper-slide {
        position: relative;
        height: 100vh;
        max-height: 889px;

        @media (max-width: 991px) {
            height: 70vh;
        }
        @media (max-width: 767px) {
            height: 60vh;
        }

        .slide-bg {
            width: 100%;
            height: 100%;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .slider-content-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .contant-wrapper {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                height: 100vh;
                max-height: 889px;

                @media (max-width: 991px) {
                    height: 70vh;
                    width: 90%;
                    padding: 0 40px;
                }
                @media (max-width: 767px) {
                    height: 60vh;
                    padding: 0 40px;
                }

                .content-inner-box {
                    max-width: 100%;
                    margin: 0 auto;
                    text-align: center;

                    @media (min-width: 992px) and (max-width: 1200px) {
                        margin-top: 70px;
                    }
                    @media (max-width: 991px) {
                        width: 90%;
                        margin-top: 90px;
                    }

                    h2 {
                        color: #fff;
                        font-family: $poppins-font;
                        font-size: 50px;
                        font-weight: 700;
                        line-height: 55px;
                        text-transform: uppercase;
                        margin-bottom: 20px;

                        @media (max-width: 1399px) {
                            font-size: 42px;
                            line-height: 45px;
                        }
                        @media (max-width: 1199px) {
                            font-size: 35px;
                            line-height: 37px;
                        }
                        @media (max-width: 991px) {
                            font-size: 25px;
                            line-height: 27px;
                        }
                        @media (max-width: 767px) {
                            font-size: 20px;
                            line-height: 22px;
                        }

                        span {
                            color: var(--theme-color);
                        }
                    }

                    p {
                        color: #fff;
                        font-family: $roboto-font;
                        font-weight: 400;
                        font-size: 22px;

                        strong {
                            font-weight: 700;
                        }

                        @media (min-width: 1200px) and (max-width: 1365px) {
                            font-size: 16px;
                            line-height: 20px;
                        }
                        @media (max-width: 1199px) {
                            font-size: 12px;
                            line-height: 14px;
                        }
                        @media (max-width: 767px) {
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                0deg,
                rgba(0, 34, 46, 0.5),
                rgba(0, 34, 46, 0.5)
            );
        }
    }

    .left-shape {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 2;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .right-shape {
        position: absolute;
        right: 0;
        bottom: -12px;
        z-index: 2;
        height: 344px;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        margin: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #fff;
        transition: 0.4s;

        &::after {
            font-size: 25px;
            color: var(--theme-color);
            transition: 0.4s;
        }

        &:hover {
            background: var(--theme-color);

            &::after {
                color: #fff;
            }
        }
    }

    .swiper-button-next {
        right: -100px;
    }

    .swiper-button-prev {
        left: -100px;
    }

    &:hover {
        .swiper-button-next {
            right: 50px;
        }
        .swiper-button-prev {
            left: 50px;
        }
    }
}

/* Header Modification */
.new-navbar-main {
    width: 100%;
    top: 60px;
    position: fixed;
    z-index: 99999;
    padding: 10px 0;
    transition: 0.4s;

    .header-logo img {
        width: 90px !important;
        min-width: 90px !important;
    }

    .main-menu {
        a {
            color: #fff;
            font-weight: 400;
        }

        ul {
            gap: 25px;

            &.sub-menu li a {
                color: #000;
            }
        }
    }

    &.fixed-top {
        .main-menu a {
            color: #000;
        }

        a.as-btn {
            background: var(--theme-color);
        }
    }
}

.news-title-dynamic {
    background-color: var(--theme-color);
}

.news {
    border-color: var(--theme-color);
}

.news-link,
ul.flex-items-center {
    color: #000;
}

// login page start from here

.login-main {
    height: 100vh;
    background: #f2f6f9;
    position: relative;
    .login-flex-wrapper {
        min-height: 60vh;
        width: 60%;
        position: absolute;
        @include trans-center;
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
        background: $white;
        .single-box {
            flex: 1;
            &:nth-child(1) {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                position: relative;
                &::before {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    inset: 0;
                    content: "";
                    background: #000;
                    opacity: 0.5;
                }
                h1 {
                    font-weight: 700;
                    font-family: $poppins-font;
                    font-size: 30px;
                    line-height: 1;
                    text-transform: uppercase;
                    text-align: center;
                    color: $white;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    span {
                        color: $green;
                    }
                }
                .copyright-text {
                    position: absolute;
                    color: $white;
                    bottom: 20px;
                    left: 0;
                    width: 100%;
                    font-family: $roboto-font;
                    font-size: 14px;
                    line-height: 1;
                    text-align: center;
                    padding: 10px 15px;
                }
            }
            &:nth-child(2) {
                padding: 50px 50px;
                h2 {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: $poppins-font;
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
            .logo-box {
                text-align: center;
                margin-bottom: 20px;
            }
            .form-group {
                margin-bottom: 20px;
            }
            .form-addons {
                position: relative;
                img {
                    position: absolute;
                }
            }
            .form-control {
                @include no-radius;
                font-size: 15px;
                font-family: $roboto-font;
                line-height: 1;
                height: 40px;
                &:focus {
                    border-color: #000;
                }
            }
            label {
                font-weight: 600;
                font-size: 15px;
                font-family: $poppins-font;
                color: #000;
                text-transform: capitalize;
            }
            .user-login-btn {
                background: $green;
                color: $white;
                text-transform: uppercase;
                font-family: $poppins-font;
                font-size: 16px;
                border: none;
                @include no-radius;
                margin: 0px auto;
                width: 50%;
                display: block;
                font-weight: 700;
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }
            .forget-passowrd {
                text-align: center;
                font-family: $poppins-font;
                font-size: 14px;
                color: #000;
                text-transform: capitalize;
                font-weight: 400;
                a {
                    color: $yellow;
                    @include transition-four;
                    &:hover {
                        color: $green;
                    }
                }
            }
            .dont-account {
                text-align: center;
                font-family: $poppins-font;
                font-size: 14px;
                color: #000;
                text-transform: capitalize;
                font-weight: 400;
                margin-top: 10px;
                a {
                    color: $green;
                    text-decoration: none;
                    @include transition-four;
                    &:hover {
                        color: $yellow;
                    }
                }
            }
            .otp-inputs {
                display: flex;
                gap: 12px;
                justify-content: center;
                margin-top: 10px;
                width: 50%;
                justify-content: space-between;
                margin: 0px auto;
                .otp-digit {
                    width: 40px;
                    height: 40px;
                    text-align: center;

                    font-weight: 600;

                    outline: none;
                    transition: all 0.3s ease;
                    background-color: #f9f9f9;

                    &:focus {
                        border-color: $green;
                        box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
                        background-color: #fff;
                    }

                    &.is-invalid {
                        border-color: #ff4d4f;
                        background-color: #fff0f0;
                    }

                    @media (max-width: 767px) {
                        width: 50px;
                        height: 50px;
                        font-size: 20px;
                    }
                }

                .invalid-feedback {
                    width: 100%;
                    text-align: center;
                    color: #ff4d4f;
                    font-size: 14px;
                    margin-top: 5px;
                }
            }

            .btn-resend {
                display: inline-block;
                background-color: $yellow;
                color: #fff;
                border: none;
                padding: 8px 16px;
                @include no-radius;
                cursor: pointer;
                font-size: 14px;
                transition: background 0.3s ease;
                margin: 0px auto;
                display: block;
                width: 50%;
                font-family: $poppins-font;
                font-size: 16px;
                font-weight: 700;
                &:disabled {
                    opacity: 0.6;
                    cursor: not-allowed;
                }

                &:hover:not(:disabled) {
                    background-color: darken($yellow, 10%);
                }
            }
            .form-control.is-invalid,
            .was-validated .form-control:invalid {
                border-color: #dc3545 !important;
            }
        }
    }
}

// login page ends here

// dashboard common banner start

.common-banner-main {
    padding: 150px 0;
    text-align: center;
    padding-bottom: 70px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 34, 46, 0.7);
    }
    .common-banner-text {
        position: relative;
        h2 {
            color: $white;
            font-family: $poppins-font;
            font-size: 35px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .breadcrumb {
            justify-content: center;
            margin-bottom: 0;
            li.breadcrumb-item a {
                color: $white;
                font-family: $roboto-font;
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
                @include transition-four;
                &:hover {
                    color: $yellow;
                }
                &::after {
                    content: "/";
                    margin-left: 8px;
                }
            }
            li.breadcrumb-item.active {
                color: $yellow;
                font-family: $roboto-font;
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
            }
        }
    }
}

.member-dashboard-main {
    padding: 70px 0;
    .dashboard-sidebar-main {
        height: 100%;
        border: 1px solid #fafafa;
        border-radius: 4px;
        padding: 20px 20px;
        .member-profile-image {
            width: 150px;
            height: 150px;
            overflow: hidden;
            margin: 0px auto;
            border: 3px solid $green;
            border-radius: 50%;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                margin-bottom: 10px;
            }
        }
        .name {
            font-family: $poppins-font;
            font-size: 20px;
            font-weight: 600;
            color: #000;
            margin-bottom: 5px;
        }
        .mobile {
            font-family: $roboto-font;
            font-size: 16px;
            font-weight: 400;
            color: #000;
            margin-bottom: 20px;
        }
        .dashboard-sidebar-menu {
            ul {
                li {
                    a {
                        padding: 5px 0 5px 15px;
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 15px;
                        border-bottom: 1px solid #e9ebec;
                        text-transform: capitalize;
                        font-family: $roboto-font;
                        color: #000;
                        display: block;
                        i {
                            margin-right: 5px;
                        }
                        &:hover,
                        &.active {
                            color: $yellow;
                            border-color: $yellow;
                        }
                    }
                }
            }
        }
    }
    .dashboard-details-box {
        height: 100%;
        .custom-buy-flex {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            .single-box {
                flex: 1;
                min-width: 200px;
                background: #f9f9f9;
                border: 1px solid #e9ebec;
                border-radius: 4px;
                padding: 20px 15px;
                text-align: center;
                position: relative;
                @include transition-four;
                .icon {
                    width: 50px;
                    height: 50px;
                    margin-bottom: 10px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    margin: 0px auto;
                    margin-bottom: 15px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    color: $white;
                    font-size: 20px;
                }

                .title {
                    font-family: $roboto-font;
                    font-size: 20px;
                    font-weight: 600;
                    color: #000;
                    text-transform: capitalize;
                }
                &:nth-child(1) {
                    .icon {
                        background: #f8993969;
                    }
                    &:hover {
                        border-color: $yellow;
                    }
                }
                &:nth-child(2) {
                    .icon {
                        background: #06d6669c;
                    }
                    &:hover {
                        border-color: $green;
                    }
                }
                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .update-address-info-tab {
            .nav-tabs {
                border: none;
                margin-top: 30px;
                margin-bottom: 30px;
                .nav-item {
                    flex: 1;
                    .nav-link {
                        @include no-radius;
                        width: 100%;
                        border: none;
                        font-size: 16px;
                        font-family: $poppins-font;
                        font-weight: 500;
                        color: #000;

                        &.active {
                            background: $green;
                            color: $white;
                        }
                    }
                }
            }
        }
        .form-check {
            margin-bottom: 20px;
            padding-left: 0;
            .form-check-label {
                text-transform: capitalize;
                font-family: $poppins-font;
                font-size: 15px;
                font-weight: 500;
                color: #000;
                &::before {
                    border-color: rgba(145, 158, 171, 0.32);
                }
            }
            input[type="checkbox"]:checked ~ label:before {
                border-color: $green;
            }
        }
        .form-group {
            margin-bottom: 20px;
            .form-label {
                text-transform: capitalize;
                font-family: $poppins-font;
                font-size: 15px;
                font-weight: 500;
                color: #000;
                margin-bottom: 10px;
            }
            .form-control {
                @include no-radius;
                font-size: 15px;
                font-family: $roboto-font;
                line-height: 1;
                height: unset;
                border: 1px solid rgba(145, 158, 171, 0.32);
                &:focus {
                    border-color: #000;
                }
            }
            .form-select {
                @include no-radius;
                font-size: 15px;
                font-family: $roboto-font;
                line-height: 1;
                border: 1px solid rgba(145, 158, 171, 0.32);
            }
            select,
            .form-control,
            .form-select,
            textarea,
            input {
                height: 45px;
                padding: 10px 15px;
                padding-right: unset;
                background-color: $white;
            }
            .form-control:disabled,
            .form-control[readonly] {
                background-color: #e9ecef;
            }
        }
        .update-profile-btn {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            margin-top: 30px;

            .as-btn {
                color: #000;
                width: 200px;
                &:hover {
                    color: #fff;
                }
            }
            .prevBtn {
                @include no-radius;
                width: 200px;
                border: 1px solid $yellow;
                font-size: 14px;
                font-weight: 600;
                line-height: 1;
                padding: 12px 15px;
                @include transition-four;
                &:hover {
                    background: $yellow;
                    color: #fff;
                }
            }
        }
        h3 {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 20px;
            font-family: $roboto-font;
        }
        .payment-lists {
            .list-flex {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #e9ebec;
                padding: 5px 0;
                font-size: 15px;
                text-transform: capitalize;
                font-weight: 600;
            }
        }
    }
}

// dashboard common banner style ends
