.common-fieldset-main {
    margin-bottom: 20px;
    .common-fieldset {
        padding: 15px 19px 19px;
        border: 1px solid #e9ebec;
        border-radius: 4px;
        legend {
            text-align: center;
            margin: 0 auto;
            width: auto;
            float: none;
            padding: 4px 20px;
            background: #e9ebec;
            border-radius: 4px;
            text-transform: uppercase;
            color: #000;
            font-size: 15px;
            font-weight: 600;
        }
    }
}
.header-layout3 {
    .header-top {
        li {
            &:before {
                background-color: #fff;
            }
        }
    }
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
fieldset.common-fieldset.pb-0 {
    padding-bottom: 0 !important;
}
